
@custom-variant dev-mode {
  &:where([data-dev-mode="on"] *) {
    @slot;
  }
}

@layer components {
  .dev-mode-container {
    @apply border-1 border-white/0 border-dashed;

    @apply dev-mode:relative dev-mode:hover:border-blue-300;

    @apply dev-mode:hover:before:content-(--label);

    &::before {
      @apply absolute -bottom-4.5 left-[50%] -translate-x-[50%] z-100;
      @apply font-mono text-sm/tight font-normal bg-black rounded-sm px-1 text-white whitespace-nowrap;
    }
  }
}
