@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: var(--color-rose-400);
  --text-tiny: 0.6rem;

  --animate-wiggle: wiggle 0.75s ease-in-out infinite;
  @keyframes wiggle {
    0% {
      transform: rotate(-10deg) translateX(-150%);
    }
    50% {
      transform: rotate(10deg) translateX(-150%);
    }
    100% {
      transform: rotate(-10deg) translateX(-150%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
